<div id='container'>
  
    <h2>Job Details</h2>
    <a class='menu' [routerLink]="['/job']">Home</a>
  
    <br> <br>
    
        <div class='box1'>
  
        <table>
  
          <tr>
              <td></td>
              <td><input class='inp0' type='text' name='formBody.email' [(ngModel)]='formBody.email'/></td>
          </tr>
  
          <tr>
            <td>Stars</td>
            <td><input class='inp2' type='text' name='formBody.stars' [(ngModel)]='formBody.stars' readonly='readonly'/></td>
          </tr>
  
          <tr>
            <td>Company</td>
            <td><input class='inp2' type='text' name='formBody.company'    [(ngModel)]='formBody.company'    readonly='readonly'/></td>
            <td><a href="{{formBody.companyUrl}}" target="_blank">{{formBody.companyUrl_}}</a></td>
          </tr>
  
        <tr>
          <td>Agent</td>
          <td><input class='inp2' type='text' name='formBody.agent'    [(ngModel)]='formBody.agent'    readonly='readonly'/></td>
          <td><a href="{{formBody.agentUrl}}" target="_blank">{{formBody.agentUrl_}}</a></td>
        </tr>
  
        <tr>
          <td>Supplier</td>
          <td><input class='inp2' type='text' name='formBody.supplier' [(ngModel)]='formBody.supplier' readonly='readonly'/></td>
          <td><a href="{{formBody.supplierUrl}}" target="_blank">{{formBody.supplierUrl_}}</a></td>
        </tr>
  
        <tr>
          <td>Industry</td>
          <td><input class='inp2' type='text' name='formBody.industry' [(ngModel)]='formBody.industry' readonly='readonly'/></td>
        </tr>

        <tr>
          <td>Job Title</td>
          <td><input class='inp2' type='text' name='formBody.title' [(ngModel)]='formBody.title' readonly='readonly'/></td>
        </tr>
    
        <tr>
          <td>Job ID</td>
          <td><input class='inp2' type='text' name='formBody.jobId' [(ngModel)]='formBody.jobId' readonly='readonly'/></td>
        </tr>
    
        <tr>
          <td>Location</td>
          <td><input class='inp2' type='text' name='formBody.location' [(ngModel)]='formBody.location' readonly='readonly'/></td>
        </tr>
  
        <tr>
          <td>Salary</td>
          <td><input class='inp2' type='text' name='formBody.salary' [(ngModel)]='formBody.salary' readonly='readonly'/></td>
        </tr>
  
        <tr>
          <td>Apply Date</td>
          <td><input class='inp2' type='text' name='formBody.applyDate' [(ngModel)]='formBody.applyDate' readonly='readonly'/></td>
        </tr>
  
        <tr>
          <td>Status</td>
          <td><input class='inp2' type='text' name='formBody.status' [(ngModel)]='formBody.status' readonly='readonly'/></td>
        </tr>
  
        <tr>
          <td>Appoints</td>
          <td><input class='inp2' type='text' name='formBody.appoints' [(ngModel)]='formBody.appoints' readonly='readonly'/></td>
        </tr>   
        
        <tr>
          <td>Contact</td>
          <td><input class='inp2' type='text' name='formBody.contact' [(ngModel)]='formBody.contact' readonly='readonly'/></td>
        </tr>   
        
        <tr>
          <td>Others</td>
          <td><input class='inp2' type='text' name='formBody.others' [(ngModel)]='formBody.others' readonly='readonly'/></td>
        </tr>
  
      </table>
  
      </div>
  
      <div class='box2'>
        <textarea class='jobpost' name='jobPost' [(ngModel)]='formBody.jobPost' placeholder='Job Post' readonly='readonly'></textarea>
      </div>
      
      <div class='box3'>
        <textarea class='info' name='info' [(ngModel)]='formBody.info' placeholder='Additional Info' readonly='readonly'></textarea>
        <br>
        <textarea class='cv' name='resume' [(ngModel)]='formBody.resume' placeholder='Tailored CV' readonly='readonly'></textarea>
      </div>
  
      <br><br>
  
      <div class='wide70'></div> <button  (click)="clickDelete()">Delete this job</button>
      <div class='wide20'></div> <button  (click)="clickCancel()">Cancel</button>
  
  </div>