<div id='container'>
  
  <h2>{{user}}'s favorite jobs</h2>
  <a class='menu' [routerLink]="['/job/newjob']">Add a favorite job</a> <div class='wide20'></div>
  <a class='menu' [routerLink]="['/login']">Log out</a>

  <br><br><br>
  
    <div id='box'>

    <table border='1'>
        <tr>
          <th  width="30"><a class='sort'>Stars</a></th>
          <th  width="100"><a class='sort'>Company</a></th>
          <th  width="60"><a class='sort'>Agent</a></th>
          <th  width="60"><a class='sort'>Supplier</a></th>
          <th  width="60"><a class='sort'>Industry</a></th>
          <th  width="120"><a class='sort'>Job Title</a></th>
          <th  width="70"><a class='sort'>Job ID</a></th>
          <th  width="55"><a class='sort'>Apply Date</a></th>
          <th  width="70"><a class='sort'>Status</a></th>
          <th  width="100"><a class='sort'>Appoints</a></th>
          <th  width="100"><a class='sort'>Contact</a></th>
          <th  class='black'>Action</th>
        </tr>
  
        <tr *ngFor='let obj of allObj'>
          <td  width="30">{{obj.stars}}</td>

          <td  width="100">{{obj.company}}</td>
          <td  width="60">{{obj.agent}}</td>
          <td  width="60"> <a href="{{obj.supplierUrl}}" target="_blank">{{obj.supplier}}</a></td>
          <td  width="60">{{obj.industry}}</td>
          <td  width="120">{{obj.title}}</td>
          <td  width="70">{{obj.jobId}}</td>
          <td  width="55">{{obj.applyDate}}</td>
          <td  width="70">{{obj.status}}</td>
          <td  width="100">{{obj.appoints}}</td>
          <td  width="100">{{obj.contact}}</td>
          <td  >
              <a class='click' (click)="clickView(obj._id)"> Detail </a>
              <a class='click' (click)="clickEdit(obj._id)"> Edit </a>
              <a class='click' (click)="clickDel(obj._id)"> Del  </a>
          </td>
        </tr>
  
      </table>

    </div>
      

</div>