<div id='container'>
  
  <h2>{{user}}'s favorite jobs</h2>
  <a class='menu' [routerLink]="['/job/newjob']">Add a favorite job</a> <div class='wide20'></div>
  <a class='underline' (click)="clickSort()">Sort Type</a><div class='wide20'></div>
  <a class='menu' [routerLink]="['/login']">Log out</a>

  <br><br><br>
  
    <table border='1'>
        <tr>
          <th  width="120">Name</th>
          <th  width="100">Type</th>
          <th  width="115">Action</th>
        </tr>
  
        <tr *ngFor='let obj of allObj'>
          <td>
            {{obj.name}}
          </td>
          <td>
            {{obj.type}}
          </td>
          <td>
              <a class='click' (click)="clickView(obj._id)"> Detail </a>
              <a class='click' (click)="clickEdit(obj._id)"> Edit </a>
              <a class='click' (click)="clickDel(obj._id)"> Del  </a>
          </td>
        </tr>
  
      </table>
      

</div>