#container {
    width:550px;
    height:550px;
    padding-left:30px;
    border: 1px solid black;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
}

#box {
    width:520px;
    height:419px;
    border: 1px solid white;
    overflow-x:hidden;
    overflow-y:scroll;
}

.inline {
    display:inline-block;
}

p {
    font-size: 12px;
}

input {
    font-size: 10px;
}

a {
    padding-left:6px;
}

.errs {
    padding-left:0px;
    font-size: 12px;
    font-style:italic;
}

.wide2   { width:  2px;  height:10px; display:inline-block; }
.wide4   { width:  4px;  height:10px; display:inline-block; }
.wide5   { width:  5px;  height:10px; display:inline-block; }
.wide6   { width:  6px;  height:10px; display:inline-block; }
.wide8   { width:  8px;  height:10px; display:inline-block; }
.wide10  { width:  10px; height:10px; display:inline-block; }
.wide15  { width:  15px; height:10px; display:inline-block; }
.wide20  { width:  20px; height:10px; display:inline-block; }

button {
    margin:1px 2px 1px 2px;
    font-size: 8px;
    border-radius:1px;
    margin-left: 2px;
    margin-right: 2px;
}

table {
    border-collapse:collapse;
    border: 0px solid black;
    cellspacing: 0px;
    line-height: 20px;
    align:left;
}

th{
    font-size: 12px;
    line-height: 20px;
    padding-left: 5px;
}

td{
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.menu {
    font-size: 14px;
    font-weight: bold;
    color: green;
}

.underline {
    text-decoration:underline;
    font-size: 14px;
    font-weight: bold;
    color: green;
}

.click {
    font-size: 12px;
    text-decoration:underline;
}
