<div id='container'>
  
  <h2>Edit a job </h2>
  <a class='menu' [routerLink]="['/job']">Home</a><div class='wide20'></div>
  <a class='errs' *ngFor='let err of formErr'> {{err}} <br> </a> <br>

  <br><br>
  
    <form class='inline' (submit)="onSubmitEdit()">

      <input type="hidden" name="formBody.likes" [(ngModel)]="formBody.likes"/>
    
      Name:<input type="text" name="formBody.name" [(ngModel)]="formBody.name"/> <br><br>
     
      Type:<input type="text" name="formBody.type" [(ngModel)]="formBody.type"/> <br><br>
     
      Desc:<input type="text" name="formBody.description" [(ngModel)]="formBody.description"/> <br><br>

     
      Skills:<input type="text" name="formBody.skill1" [(ngModel)]="formBody.skill1"/> <br>
      <div class='wide30'></div><input type="text" name="formBody.skill2" [(ngModel)]="formBody.skill2"/> <br>
      <div class='wide30'></div><input type="text" name="formBody.skill3" [(ngModel)]="formBody.skill3"/> <br><br>
     
     <div class='wide30'></div>
     <button type="submit">Update a job</button><div class='wide2'></div>
     <button type='reset' (click)="clickCancel()">Cancel</button>

    </form>


</div>