<div id='container'>
  
    <h2>Edit a job</h2>
    <a class='menu' [routerLink]="['/job']">Home</a> <div class='wide260'></div> 
    <a class='errs' *ngFor='let err of formErr'> {{err}} &nbsp; &nbsp;</a>
  
    <br> <br>
    
      <form (submit)="onSubmit()">
    
        <div class='box1'>
  
        <table>
  
          <tr>
              <td></td>
              <td><input class='inp0' type='text' name='formBody.email' [(ngModel)]='formBody.email'/></td>
          </tr>
  
          <tr>
            <td>Stars</td>
            <td><input class='inp2' type='text' name='formBody.stars' [(ngModel)]='formBody.stars'/></td>
          </tr>
  
          <tr>
            <td>Company</td>
            <td><input class='inp2' type='text' name='formBody.company'    [(ngModel)]='formBody.company'    placeholder='name'/></td>
            <td><input class='inp3' type='text' name='formBody.companyUrl' [(ngModel)]='formBody.companyUrl' placeholder='url'/></td>
          </tr>
  
        <tr>
          <td>Agent</td>
          <td><input class='inp2' type='text' name='formBody.agent'    [(ngModel)]='formBody.agent'/></td>
          <td><input class='inp3' type='text' name='formBody.agentUrl' [(ngModel)]='formBody.agentUrl'/></td>
        </tr>
  
        <tr>
          <td>Poster</td>
          <td><input class='inp2' type='text' name='formBody.poster'    [(ngModel)]='formBody.poster'/></td>
          <td><input class='inp3' type='text' name='formBody.posterUrl' [(ngModel)]='formBody.posterUrl'/></td>
        </tr>
  
        <tr>
          <td>Industry</td>
          <td><input class='inp2' type='text' name='formBody.industry' [(ngModel)]='formBody.industry'/></td>
        </tr>

        <tr>
          <td>Job Title</td>
          <td><input class='inp2' type='text' name='formBody.title' [(ngModel)]='formBody.title'/></td>
        </tr>
    
        <tr>
          <td>Job ID</td>
          <td><input class='inp2' type='text' name='formBody.jobId' [(ngModel)]='formBody.jobId'/></td>
        </tr>
    
        <tr>
          <td>Location</td>
          <td><input class='inp2' type='text' name='formBody.location' [(ngModel)]='formBody.location'/></td>
        </tr>
  
        <tr>
          <td>Salary</td>
          <td><input class='inp2' type='text' name='formBody.salary' [(ngModel)]='formBody.salary'/></td>
        </tr>
  
        <tr>
          <td>Apply Date</td>
          <td><input class='inp2' type='text' name='formBody.applyDate' [(ngModel)]='formBody.applyDate'/></td>
        </tr>
  
        <tr>
          <td>Status</td>
          <td><input class='inp2' type='text' name='formBody.status' [(ngModel)]='formBody.status'/></td>
        </tr>
  
        <tr>
          <td>Appoints</td>
          <td><input class='inp2' type='text' name='formBody.appoints' [(ngModel)]='formBody.appoints'/></td>
        </tr>   
        
        <tr>
          <td>Contact</td>
          <td><input class='inp2' type='text' name='formBody.contact' [(ngModel)]='formBody.contact'/></td>
        </tr>   
        
        <tr>
          <td>Others</td>
          <td><input class='inp2' type='text' name='formBody.others' [(ngModel)]='formBody.others'/></td>
        </tr>
  
      </table>
  
      </div>
  
      <div class='box2'>
        <textarea class='jobpost' name='jobPost' [(ngModel)]='formBody.jobPost' placeholder='Job Post'></textarea>
      </div>
      
      <div class='box3'>
        <textarea class='info' name='info' [(ngModel)]='formBody.info' placeholder='Additional Info'></textarea>
        <br>
        <textarea class='cv' name='resume' [(ngModel)]='formBody.resume' placeholder='Tailored CV'></textarea>
      </div>
  
      <br><br>
  
      <div class='wide70'></div> <button type='submit'>Update this Job</button>
      <div class='wide20'></div> <button type='reset' (click)="clickCancel()">Cancel</button>
  
      </form>
  
  </div>