<div id='container'>
  
  <h2>Job Search Helper</h2>   
  
  <a class='menu'>Register</a> <div class='wide100'></div>
  <a class='menu' [routerLink]="['/job']">All Jobs</a> <div class='wide20'></div> 
  <a class='menu' [routerLink]="['/login/users']">All Users</a> 
  
  
  <br>
  
  <div class='box1'>

    <div class='high5'></div>
    <a class='errs' *ngFor='let err of formErr'>{{err}}<br></a>
    <div class='high5'></div>

    <form (submit)="onSubmitReg()"> <table>
      <tr>
        <td>First Name</td>
        <td><input class='inp' type="text" name="formBody.firstName" [(ngModel)]="formBody.firstName"/></td>
      </tr>

      <tr>
        <td>Last Name</td>
        <td><input class='inp' type="text" name="formBody.lastName" [(ngModel)]="formBody.lastName"/></td>
      </tr>

      <tr>
        <td>Email</td>
        <td><input class='inp_' type="text" name="formBody.email" [(ngModel)]="formBody.email"/></td>
      </tr>

      <tr>
        <td>Password</td>
        <td><input class='inp' type="password" name="formBody.password" [(ngModel)]="formBody.password"/></td>
      </tr>

      <tr>
        <td>Password Cfm</td>
        <td><input class='inp' type="password" name="formBody.passwordCfm" [(ngModel)]="formBody.passwordCfm"/></td>
      </tr>
  
      <tr>
        <td></td>
        <td></td>
      </tr>   
      
      <tr>
        <td></td>
        <td><button type="submit">Register</button></td>
      </tr>

    </table></form>
  </div>

  <br><br>

  <a class='menu'>Login</a> <br>

  <div class='box1'>

      <div class='high5'></div>
      <a class='errs' *ngFor='let err of formErr2'>{{err}}<br></a>
      <div class='high5'></div>

      <form (submit)="onSubmitLogin()"> <table>
        <tr>
          <td>Email</td>
          <td><input class='inp_' type="text" name="formBody2.email" [(ngModel)]="formBody2.email"/></td>
        </tr>
  
        <tr>
          <td>Password &nbsp; &nbsp; &nbsp; &nbsp;</td>
          <td><input class='inp' type="text" name="formBody2.password" [(ngModel)]="formBody2.password"/></td>
        </tr>
    
        <tr>
          <td></td>
          <td></td>
        </tr>
        
        <tr>
          <td></td>
          <td><button type="submit">Login</button></td>
        </tr>
  
      </table></form>
    </div>

</div>

    
  
