<div id='container'>
  
  <h2>Add a favorite job</h2>
  <a [routerLink]="['/job']">Home</a>

  <br><br>

    <a class='errs' *ngFor='let err of formErr'> {{err}} <br> </a> <br>
  
    <form class='inline' (submit)="onSubmitNew()">
    
     Name:<input type="text" name="formBody.name" [(ngModel)]="formBody.name"/> <br><br>
     
     Type: <input type="text" name="formBody.type" [(ngModel)]="formBody.type"/> <br><br>
     
     Desc: <input type="text" name="formBody.description" [(ngModel)]="formBody.description"/> <br><br>
     
     Skills <input type="text" name="formBody.skill1" [(ngModel)]="formBody.skill1"/> <br>
    <div class='wide30'></div> <input type="text" name="formBody.skill2" [(ngModel)]="formBody.skill2"/> <br>
    <div class='wide30'></div> <input type="text" name="formBody.skill3" [(ngModel)]="formBody.skill3"/> <br><br>
     
     <div class='wide30'></div> <button type="submit">Add a Job</button>
     <div class='wide10'></div> <button type='reset' (click)="clickCancel()">Cancel</button>

    </form>


</div>